main{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 1rem;
    background-color: rgb(13, 25, 46);
    color: white;
    width: 25rem;
    padding-bottom: 2rem;
    margin-top: 5rem;
    border-radius: 20px;
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

main form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

.rango-entrada{
    display: flex;
    gap: 1rem;
}

.generar-contraseña img{
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.generar-contraseña {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.generar-formulario form button{
    width: 10rem;
    height: 2rem;
    background-color: white;
    border-radius: 100px;
    border: solid 0;
    margin-top: 2rem;
}

hr{
    border: solid 1px rgb(0, 0, 0);
    width: 100%;
    height: 25px;
    background-color: black;
}

.titulo{
    margin-top: 3rem;
}